USE [auths]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 26/05/2026 5:21:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](100) NULL,
	[name] [nvarchar](150) NULL,
	[module] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 26/05/2026 5:21:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[permission_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 26/05/2026 5:21:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[is_system] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 26/05/2026 5:21:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 26/05/2026 5:21:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[username] [nvarchar](50) NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[avatar_url] [nvarchar](255) NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[bio] [nvarchar](500) NULL,
	[last_login_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'd18a9193-aee4-42d4-885b-0391601be1af', N'ROLE_VIEW', N'Xem vai trò', N'ROLE', N'Xem danh sách vai trò trong hệ thống', CAST(N'2026-05-24T01:12:39.3193796' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'c79b23de-071f-4a93-9a9e-730cc5e1fdf6', N'USER_VIEW', N'Xem người dùng', N'USER', N'Xem danh sách và chi tiết người dùng', CAST(N'2026-05-24T01:12:39.3193796' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[permissions] ([id], [code], [name], [module], [description], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'ec26e20c-5c4f-4a28-9fc0-758c1ba63a65', N'GRADE_MANAGE', N'Quản lý điểm', N'GRADE', N'Nhập, sửa, xóa điểm sinh viên', CAST(N'2026-05-24T01:12:39.3193796' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'6a435cb0-917e-400e-aa4d-5adf4d75c887', N'8a097a28-f0ae-4eff-ab7e-26210ea91f55', N'54729abe-8c49-47a3-8d2c-f3c5e4465c54', CAST(N'2026-05-24T01:12:39.3203626' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'82404bfa-7723-46ba-9887-75c420bbaee3', N'8a097a28-f0ae-4eff-ab7e-26210ea91f55', N'c79b23de-071f-4a93-9a9e-730cc5e1fdf6', CAST(N'2026-05-24T01:12:39.3203626' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'61ba2991-0090-47c7-8afc-771d7b27c8a3', N'a90e7037-84c6-4e1c-a59f-54edf3e7dbeb', N'ec26e20c-5c4f-4a28-9fc0-758c1ba63a65', CAST(N'2026-05-24T01:12:39.3203626' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'8a097a28-f0ae-4eff-ab7e-26210ea91f55', N'ADMIN', N'Quản trị viên', N'Toàn quyền quản lý hệ thống', 1, CAST(N'2026-05-24T01:12:39.3183756' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'6638292e-f380-47b0-b06f-3d9c1f9171b6', N'KETOAN', N'Kế toán', N'Quản lý học phí và tài chính sinh viên', 0, CAST(N'2026-05-24T01:12:39.3183756' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [code], [name], [description], [is_system], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'a90e7037-84c6-4e1c-a59f-54edf3e7dbeb', N'GIANGVIEN', N'Giảng viên', N'Xem và nhập điểm sinh viên', 0, CAST(N'2026-05-24T01:12:39.3183756' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[user_roles] ([id], [user_id], [role_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'2baae5fb-7317-4f00-9d38-263d23134656', N'19c9438f-5530-428f-809a-1dc95b0b9f3b', N'47b570a6-f234-4244-8a1d-ac79c6cf2d71', CAST(N'2026-05-24T01:12:39.3193796' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[user_roles] ([id], [user_id], [role_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'cb732ac2-79a5-48c5-bba5-4dcab354bbef', N'6bce11de-95f2-4ca1-83a9-babf5de0671e', N'4d7f3b3b-f459-410d-90fd-83e5abf7e621', CAST(N'2026-05-24T01:12:39.3193796' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[user_roles] ([id], [user_id], [role_id], [created_at], [updated_at], [created_by], [updated_by], [deleted_at], [deleted_by], [is_active]) VALUES (N'36656b76-1c0c-4b2f-aea8-8f929b0be2fa', N'b930fc49-b1b0-4de2-8f8e-cf259ebfa411', N'a90e7037-84c6-4e1c-a59f-54edf3e7dbeb', CAST(N'2026-05-24T01:12:39.3193796' AS DateTime2), NULL, NULL, NULL, NULL, NULL, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permissi__357D4CF96D177047]    Script Date: 26/05/2026 5:21:57 CH ******/
ALTER TABLE [dbo].[permissions] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__357D4CF9EC79E7DC]    Script Date: 26/05/2026 5:21:57 CH ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572B000175D]    Script Date: 26/05/2026 5:21:57 CH ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[permissions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [is_system]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_permission] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_permission]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_role]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_role]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_user]
GO
